/*
**
** General Syles
**
*/
*{
  padding:0;
  margin:0;
  list-style: none;
  outline: none;
  border: none;
}

body{
  font-family: Acme ,sans-serif;
  color: #4d4d4d
  width: 100%;
  height:100%;

}
section#conteudo-view{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  height:100%;
}

/*
**
** Headers Syles
**
*/

section#conteudo-view h1,
section#conteudo-view h3,
section#conteudo-view p{
  display: flex;
  flex-direction:column;
  align-items: center;
  float: left;
  width: 100%;
  font: 1.8em 'Acme', sans-serif;
  color: #333333;
}

section#conteudo-view h1{
  font-size: 3em;
}

section#conteudo-view p{
  margin-top: 40px;
  font-size: 1em;
}

/*
**
** Input Fields + Submit Button Syles
**
*/

section#conteudo-view form,
section#conteudo-view form label{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  max-width: 300px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
  float: left;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  border: 2px solid #de0e26;
  color: #333333;
  font: 1em 'Acme', sans-serif;

}
section#conteudo-view form input[type="submit"]{
  width: 60%;
  background: #de0e26;
  text-align: center;
  font: 1.8em 'Acme', sans-serif;

}

/*
**
**  Media Queries
**
*/
@media (min-width:765px){
  section#conteudo-view form,
  section#conteudo-view form label{
    max-width: 700px;
    flex-direction:row;
  }
}
